<!DOCTYPE html>
<html>
<head>
  <title>PortfolioEngles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <!-- Logo Font -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

  <!-- materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- mobile responsive view-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Philip test Engles</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu hamburger"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://github.com/englep10/" class="nav-link">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/philip-engles-21303866" class="nav-link">LinkedIn</a></li>
      <li><%= "#{link_to 'Resume', asset_path('pe-resume.pdf'), :class => "nav-link", :target => "_blank"}".html_safe %></li>
      <li><a href="contact_me" class="nav-link">Contact Me</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="https://github.com/englep10/" class="mobile-nav-link">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/philip-engles-21303866" class="mobile-nav-link">LinkedIn</a></li>
      <li><%= "#{link_to 'Resume', asset_path('pe-resume.pdf'), :class => "mobile-nav-link", :target => "_blank"}".html_safe %></li>
      <li><a href="contact_me" class="mobile-nav-link">Contact Me</a></li>
    </ul>
  </div>
</nav>


<%= yield %>


<script>
  $(".button-collapse").sideNav();
</script>
</html>
